<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-img src="assets/img/logtellevoConduc.png"/>
    <ion-title>CONDUCTOR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>
        Usuario
      </ion-label>
      <ion-input [(ngModel)]="usuario" slot="end" type="text" placeholder="Ingresar usuario"></ion-input>

    </ion-item>
    <ion-item>
      <ion-label>
        Contraseña
      </ion-label>
      <ion-input [(ngModel)]="pass" slot="end" type="password" placeholder="Ingresar"></ion-input>

    </ion-item>
  </ion-list>
  <ion-button  (click)="ingresar()" expand="block"  color="success">Ingresar</ion-button>
  <div> 
    <ion-buttons routerLink="/password">Cambiar contraseña</ion-buttons>
  </div>
</ion-content>
