<ion-header>
  <ion-img src="assets/img/logtellevojuntos.png"/>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: #ada241c6;">

  <ion-img src="assets/img/autos.jpg" />

  <h2>Ingresa como:</h2>

  <ion-button routerLink="/pasajero" expand="block" size="large" color="ada241c6">
    <ion-img src="assets/img/pasajero.png" style="width: 75%; height: auto;" /></ion-button>

  <ion-button routerLink="/conductor" expand="block" size="large" color="ada241c6">
    <ion-img src="assets/img/conductor.png" style="width: 75%; height: auto;" /></ion-button>
</ion-content>
