<ion-header [translucent]="false">
  <ion-toolbar>
       <ion-img src="assets/img/move up!.png"/>
      </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-back-button defaultHref="/registro" text="Atras"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-buttons slot="primary">
      <ion-back-button defaultHref="/" text="Atras"></ion-back-button>
    </ion-buttons>
    <br>
  <br>
  <div class="centered-div">
  <ion-toolbar>
    <ion-img src="assets/img/moveup.png"/>
   </ion-toolbar>
  </div>
  <br>
  <br>
  <h5><p class="centered-text">RESTABLECER CONTRASEÑA</p></h5>
  <br>
  <br>

  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <p class="centered-text">powered by V&A</p>
    </ion-toolbar>
  </ion-footer>