<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="cambiarPw()">
    <ion-item>
      <ion-label position="floating">Contraseña Actual</ion-label>
      <ion-input [(ngModel)]="oldcontra" name="currentPassword" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input [(ngModel)]="newcontra" name="newPassword" type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Cambiar Contraseña</ion-button>
  </form>

  <p *ngIf="cambiarPw" style="text-align: center; color: green;">
    ¡Contraseña cambiada con éxito!
  </p>
</ion-content>
