<ion-header [translucent]="true">
<ion-content [fullscreen]="true" style="--background: #f5f23b;">
  <ion-img src="assets/img/logtellevojuntos.png"/>
  <br>
  <ion-img src="assets/img/LOGO.png"/>
  <br>
  <br>
  <br>
  <br>

<ion-button routerLink="/login" expand="block" size="large" color="success">ENTRAR</ion-button>

<br>
<br>
<br>
<br>

  <div>
    <ion-buttons>Registrate aqui!!!</ion-buttons>
  </div>
     
  
  

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">black</ion-title>
    </ion-toolbar>
  </ion-header>

  
</ion-content>
