


<ion-content [fullscreen]="true" style="--background: #f0f0f0;">
 <ion-img src="assets/img/move up!.png"/>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>
        Usuario
      </ion-label>
      <ion-input [(ngModel)]="usuario" slot="end" type="text" placeholder="Ingresar usuario"></ion-input>

    </ion-item>
    <ion-item>
      <ion-label>
        Contraseña
      </ion-label>
      <ion-input [(ngModel)]="pass" slot="end" type="password" placeholder="Ingresar"></ion-input>

    </ion-item>
  </ion-list>
  <ion-button (click)="ingresar()" expand="block"  color="success" class="bold-text">Ingresar</ion-button>

<br>
<br>
<br>
<!--falta cambiar rutas para mandarlo al registro-->
  <ion-button (click)="ingresar()" expand="block"  color="danger" class="bold-text">Registrarse</ion-button>
  <br>
  <br>
  <br>
</ion-content>



</ion-content>

